node_modules/
.npm-cache/
www/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android-sdk/
android-commandlinetools.zip
dist-windows/
HGK-Dashboard-Windows-Setup.exe
*.jks
*.keystore
keystore.properties
